.encabezado {
    color: white;
    background: #13316d;
    border-radius: 30px;
    margin: 20px;
    text-align: center;
    padding: 10px;
}

.reg-button {
    margin: 5px 20px;
}

.form-control {
    background: #b6c7e9;
    margin: 5px;
    border: 1px, solid #3171e0;
    border-radius: 15px;
}