.encabezado {
    color: white;
    background: #13316d;
    border-radius: 30px;
    margin: 20px;
    text-align: center;
    padding: 10px;
}

.normal{
    font-size: 12px;
    margin: 0px;
}

.normal3 {
    font-size: 12px;
    text-align: center;
}